<% if user_signed_in? %>
Welcome <%= current_user.email %>
<br>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>


<br><br>

Upload new file


<br>
<%= form_with model: @csv do |f| %>
  <%= f.file_field :file %>
  <%= f.submit ('Upload file')%>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>

<% @csv_list.each do |f| %>
<p>
  <%= link_to f.filename, csv_path(id: f.id) %>
</p>
<% end %>
