  <nav class="navbar navbar-light bg-light">
    <% if user_signed_in? %>
    <span class="navbar-brand mb-0 h1">
      Welcome <%= current_user.email %>
    </span>
    <% end %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </nav>

<br>
<div class="form-group">
  <label for="form_field_input">Upload new file</label>
  <%= form_with model: @csv do |f| %>
    <%= f.file_field :file %>
    <%= f.submit ('Upload file')%>
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <% if msg == "There is an error with a unique identifier in the file" %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>

<% @csv_list.each do |f| %>
<ul>
  <li>
    <%= link_to f.filename, csv_path(id: f.id) %>
  </li>
</ul>
<% end %>
