<% if user_signed_in? %>
Welcome <%= current_user.email %>
<br>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>

<br><br>

Upload new file
<%= form_for(:csv, url: csvs_path, :html => { :method => :post }) do |form| %>

<%# <%= form_with scope: :csvs, url: csvs_path, local: true do |form| %>
  <p>
    <%= form.label ('File Title') %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%# <%= form.file_field :text %>
  </p>

  <p>
    <%= form.submit ('Upload file')%>
  </p>
<% end %>

<br><br>

<% @csv_list.each do |f| %>
<p>
  <%= link_to f.title, csv_path(id: f.id) %>
</p>
<% end %>
