<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<% end %>

<br><br>

Upload new file
<%= form_for(:book, url: books_path, :html => { :method => :post }) do |form| %>

<%# <%= form_with scope: :books, url: books_path, local: true do |form| %>
  <p>
    <%= form.label ('File Title') %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%# <%= form.file_field :text %>
  </p>

  <p>
    <%= form.submit ('Upload file')%>
  </p>
<% end %>

<br><br>

<% @book_list.each do |b| %>
<p>
  <%= link_to b.title, book_path(id: b.id) %>
</p>
<% end %>
